{% extends "base.html" %}
{% block title %}Archivos{% endblock %}
{% block head %}Adjuntar Archivos{% endblock %}
{% block content %}

<p>Adjuntar archivo para el artefacto:</p>
<p><strong> ID: ({{ artefacto.id }})</strong> {{ artefacto.Tipo_Artefacto }}</p>
<form enctype="multipart/form-data" method="post" action="">
    {{ form.as_p }}

<input type="submit" value="Guardar" />

{% ifequal Fase 'E' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
{% endifequal %}

{% ifequal Fase 'D' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
{% endifequal %}

{% ifequal Fase 'I' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
{% endifequal %}
<br>
<br>
<input type="button" value="Ver adjuntos" onClick = "location.href='/proyecto/{{proyecto.id}}/fase/{{Fase}}/listar_adjunto/{{artefacto.id}}/' "/>

</form> 
{% endblock %}
