{% extends "base.html" %}
{% block title %}Impacto{% endblock %}
{% block head %}Calculo Impacto de {{ artefacto.Tipo_Artefacto.Nombre}}<br>{% endblock %}
{% block content %}

	<dl>
	    <li> Complejidad del Artefacto {{ artefacto.Nombre }} : {{ artefacto.Complejidad }} </li>
		<li> Calculo Impacto hacia la izquierda: 
			{% if padres %}
				<li>PADRES:</li>
                <ul>
                   
				{% for padre in padres %}
					<li>
						Complejidad de {{padre.Nombre}}: {{padre.Complejidad}}
					</li>
				{% endfor %}
               SubTotal:  {{ CalculoPadres }}
				</ul>
			{% endif %}
            {% if antesesores %}
				<li>ANTESESORES:</li>
                <ul>
                   
				{% for ante in antesesores %}
					<li>
						Complejidad de {{ante.Nombre}}: {{ante.Complejidad}}
					</li>
				{% endfor %}
               SubTotal:  {{ CalculoAntecesores }}
				</ul>
			{% endif %}
		</li>
            
		<li> Calculo Impacto hacia la derecha: 
			{% if hijos %}
                <li>HIJOS:</li>
				<ul>
				{% for hijo in hijos %}
					<li>
						Complejidad de {{hijo.Nombre}}: {{hijo.Complejidad}}
					</li>
				{% endfor %}
                SubTotal:  {{ CalculoHijos }}
				</ul>
             
			{% endif %}
            {% if sucesores %}
				<li>SUCESORES:</li>
                <ul>
                   
				{% for anteS in sucesores %}
					<li>
						Complejidad de {{anteS.Nombre}}: {{anteS.Complejidad}}
					</li>
				{% endfor %}
               SubTotal:  {{ CalculoSucesores }}
				</ul>
			{% endif %}
		</li>
		<li> <strong>Calculo Impacto: {{CalculoImpacto}} </strong></li>
	</dl>

	{% ifequal Fase 'E' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
	{% endifequal %}
	{% ifequal Fase 'D' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
	{% endifequal %}
	{% ifequal Fase 'I' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
	{% endifequal %}
{% endblock %}