{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Eliminar Relacion{% endblock %}
{% block content %}

	<p>Est&aacute; seguro que desea eliminar esta relaci&oacute;n con "{{ artefactoH.Tipo_Artefacto }}"?</p>
	<form method="post" action=""> 
		<input type="submit" value="Eliminar" />
		<input type="button" value="Cancelar" onClick = "location.href='/proyectos/{{ proyecto.nombre|urlencode }}/desarrollo/relaciones/{{ artefacto.id|urlencode }}/' "/>
	</form>

{% endblock %}
