{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Analisis y Diseno<br>{% endblock %}
{% block content %}
    <ul>
    {% for artefacto in artefactos %}
      <li>
	  <strong>{{ artefacto.Nombre }}: </strong>{{ artefacto.Tipo_Artefacto.Fase }}
      {% if Paso %}
              {% if confrelaciones %}
                <a href="/proyectos/{{proyecto.id}}/fase/artefactos/relaciones/{{ artefacto.id|urlencode }}" class="edit">Relaciones</a>
              {%endif%}
              {% if impacto %}
                <a href="/proyecto/{{proyecto.id}}/impacto/{{artefacto.id}}/" class="edit">Impacto</a>
              {%endif%}
        	  {% if EditarArtefactoDis %}
                <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/historiales/{{artefacto.id}}/" class="edit">Historial</a>
        	  	<a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/editar/{{artefacto.id}}/" class="edit">Editar</a>
                <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/adjuntar/{{artefacto.id}}/" class="edit">Archivos<a/>
              {% endif %}
              {% if AprobarArtefacto %}                 		
        		{% ifnotequal artefacto.Estado 'A' %}
        			<a href="/proyectos/{{proyecto.id}}/fase/artefactos/aprobar/{{artefacto.id}}/{{Fase}}/" class="edit">Aprobar</a>
        		{% endifnotequal %}
        	  {% endif %}	
        	  {% if EliminarArtefactoDis %}
        			<a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/eliminar/{{artefacto.id}}/" class="edit">Eliminar</a>
              {% endif %}	
             </li>
      {% else %}
             {% if impacto %}
                <a href="/proyecto/{{proyecto.id}}/impacto/{{artefacto.id}}/" class="edit">Impacto</a>
              {%endif%}
              <a href="/proyecto/{{proyecto.id}}/verInfo/{{artefacto.id}}/" class="edit">Ver Informacion</a>
              <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/listar_adjunto_aprobado/{{artefacto.id}}/" class="edit">Ver Archivos</a>
      {% endif %}

    {% endfor %}
    </ul>
     {% if Paso %}   
        {% if CrearArtefactoDis %}
        	<input type="button" value="Nuevo Artefacto" onClick = "location.href='/proyecto/{{proyecto.id}}/fase/{{Fase}}/nuevo/' "/>
        {% endif %}
    {% endif %}
    <input type="button" value="Atras" onClick = "location.href='/proyectos/{{proyecto.id}}/' "/>
{% endblock %}
