{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Artefacto {{ artefacto.Nombre }}<br>{% endblock %}
{% block content %}
<h3>Informacion general:</h3>
<ul>
     <li> <strong>Nombre de Artefacto:</strong>{{ artefacto.Nombre }}</li>
     {% ifequal artefacto.Tipo_Artefacto.Fase 'E' %}
   <li> <strong>Fase del Artefacto:</strong>Especificacion de Requerimientos</li>
    {% endifequal %}
    {% ifequal artefacto.Tipo_Artefacto.Fase 'D' %}
    <li> <strong>Fase del Artefacto:</strong>Disenho</li>
    {% endifequal %}
    {% ifequal artefacto.Tipo_Artefacto.Fase 'I' %}
    <li> <strong>Fase del Artefacto:</strong>Implementacion</li>
    {% endifequal %}
     <li> <strong>Descripcion Corta:</strong>{{ artefacto.DescripcionCorta }}</li>
     <li> <strong>Descripcion Larga:</strong>{{ artefacto.DescripcionLarga }}</li>
     <li> <strong>Version:</strong>{{ artefacto.Version }}</li>
     <li> <strong>Complejidad:</strong>{{ artefacto.Complejidad }}</li>
     <li> <strong>Estado:</strong>{{ Estado }}</li>
     <li> <strong>Usuario creador:</strong>{{ artefacto.Usuario }}</li>
     <li> <strong>Prioridad:</strong>{{ Prioridad }}</li>
      
</ul> 
<h3>Adjuntos:</h3>
{% if archivos %}
    <ul>
    {% for archivo in archivos %}
       <li><strong> <a href="/proyecto/{{ proyecto.id }}/fase/{{artefacto.id}}/obtener_adjunto/{{archivo.id}}/ "> {{ archivo.Nom_Archivo }} </a>
       </strong> </li>
    {% endfor %}
    </ul>
{% else %}
<p>A&uacute;n no se han adjuntado archivos al artefacto </p>
{% endif %}     

<h3>Artefactos de los que depende:</h3>
{% if padres or antecesores %}
<ul> 
       <li><h4>Relaciones con Artefactos de la misma Fase:</h4></li>
	    {% if padres %}
            Padre:
	        <ul>
		    {% for ar in padres%}
		    	<li>{{ar.Nombre}}</li>
		    {% endfor %}
		   
	        </ul>
 
	    {% endif %}
 
        {% if antecesores %}
	    	<li><h4>Relaciones con Artefactos de la Fase Anterior:</h4></li>

            Antecesores:
	    	<ul>
			{% for artefacto2 in antecesores%}
			    {% ifequal artefacto2.Tipo_Artefacto.Fase 'E' %}
                <li>{{artefacto2.Nombre}}: (Especificacion de Requerimientos)</li>
				{% endifequal %}
				 {% ifequal artefacto2.Tipo_Artefacto.Fase 'D' %}
				   <li>{{artefacto2.Nombre}}:(Disenho)</li> 
				 {% endifequal %}
			{% endfor %}
	    {% endif %}
		</ul>
</ul>
{% else %}
	<p>No existe ninguna Relacion </p>
{% endif %}


<h3>Artefactos que dependen de &eacute;l:</h3>
<ul> 
 {% if hijosF or hijosS %}       
         {% if hijosF %}
           <li><h4>Hijos :</h4></li>
            <ul>
              {% for ar in hijosF%}
              <li>{{ar.Nombre}}</li> 
              {% endfor %}
                  </ul>
        {% endif %}
         
        {% if hijosS %}
             <li><h4>Sucesores:</h4></li>
              <ul>
              {% for artefacto2 in hijosS %}
              
				 {% ifequal artefacto2.Tipo_Artefacto.Fase 'D' %}
				 <li>{{artefacto2.Nombre}}: (Disenho)</li> 
				 {% endifequal %}
				 {% ifequal artefacto2.Tipo_Artefacto.Fase 'I' %}
				   <li>{{artefacto2.Nombre}}:(Implementacion)</li> 
				 {% endifequal %}
              {% endfor %}
        {% endif %}
             </ul>
</ul> 
{% else %}
    <p>No existe ningun hijo </p>
{% endif %}



{% ifequal Fase 'E' %}
        <input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
    {% endifequal %}
    {% ifequal Fase 'D' %}
        <input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
    {% endifequal %}
    {% ifequal Fase 'I' %}
        <input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
    {% endifequal %}
    
{% endblock %} 
