{% extends "base.html" %}
{% block title %}Modificaci&oacute;n de Artefactos{% endblock %}
{% block head %}Editar Artefacto: {{ artefacto.Nombre }}{% endblock %}
{% block content %}
<form method="post" action=""> 
	{% if mensaje %}
		{{ mensaje }}
	{% endif %}
	<table>
    {{form.as_p}}
	</table>
<input type="submit" value="Guardar" />

{% ifequal fase 'E' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{ProyectoId}}/requerimientos/' "/>
{% endifequal %}

{% ifequal fase 'D' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{ProyectoId}}/diseno/' "/>
{% endifequal %}

{% ifequal fase 'I' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{ProyectoId}}/implementacion/' "/>
{% endifequal %}
</form>
{% endblock %}
