{% extends "base.html" %}
{% block title %}Versiones{% endblock %}
{% block head %}Volver a version anterior {% endblock %}
{% block content %}
<form method="post" action=""> 
    <h3>El artefacto [{{ artefacto.Nombre }}] volvera a la Version: {{ version }}</h3>
    <h3>Esta seguro que quiere volver a esa version?</h3>

<input type="submit" value="Volver a Esta Version" />
<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/fase/{{Fase}}/detalles_version/{{artefacto.id}}/{{version}}'"/>
</form>
{% endblock %}
