{% extends "base.html" %}
{% block title %}Administracion de Roles{% endblock %}
{% block head %}Administracion de Roles<br>{% endblock %}
{% block content %}
	<h3><p>Roles</p></h3>
	  <ul>
		{% for rol in roles %}
		  <li>
			<strong>{{ rol.Nombre }}:</strong> {{ rol.Descripcion }}
			<a href="/administracion/roles/editar/?id={{ rol.id|urlencode }}" class="edit">editar</a>
			<a href="/administracion/roles/eliminar/{{ rol.id|urlencode }}" class="edit">eliminar</a>
		  </li>
		{% endfor %}
	  </ul>
	<br>
    <input type="button" value="Agregar nuevo Rol" onClick = "location.href='/administracion/roles/nuevo/' "/>
    <input type="button" value="Atras" onClick = "location.href='/' "/>

{% endblock %}

