<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sistema de Gesti&oacute;n de Proyectos Software</title>
<link rel="stylesheet" href="/site_media/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/">Sistema SGPS</a></h1>
		<p>Sistema de Gesti&oacute;n de Proyectos Software</a></p>
	</div>
	<!-- end #logo -->
	<div id="menu">
		<ul>
            <li class="active"><a href="/">Pagina principal</a></li>
			{% if user.is_authenticated %}
			    <li class="active"><a href="administracion/usuarios/editar/{{ user.id }}">mi cuenta</a></li>
			    <li class="active"><a href="/logout/">cerrar sesi&oacute;n</a></li>
            {% else %}
                <li class="active"><a href="/login/">iniciar sesi&oacute;n</a></li> 
            {% endif %}
		</ul>
	</div>
	<!-- end #menu -->
</div>
	<br> 
    <h1>{% block head %}{% endblock %}</h1>
      {% block content %}{% endblock %}
	</div>
  </body>
</html>
