{% extends "base.html" %}
{% block title %} Tipos de Artefactos {% endblock %}
{% block head %} Tipos de Artefactos del Proyecto {{Proyecto.Nombre}}<br>{% endblock %}
{% block content %}
<h3><p>Tipos de Artefactos</p></h3>
    <ul>
    {% for Tipos in Tipo %}
      <li>
        <td><strong>{{ Tipos.Nombre }}</strong></td>:
        <td>
        {% ifequal Tipos.Fase 'E' %}
            (Especificacion de Requerimientos)
        {% endifequal %}
        {% ifequal Tipos.Fase 'I' %}
            (Implementacion)
        {% endifequal %}
        {% ifequal Tipos.Fase 'D' %}
            (Analisis y Disenho)
        {% endifequal %}
        </td>
        {% if EditarTipoArtefactoEspecifico %}    
            <td><a href="/proyecto/{{Proyecto.id}}/tipoArtefacto/editarTipoArtefacto/{{Tipos.id}}/" class="edit">editar</a></td>
        {% endif %}
        {% if EliminarTipoArtefactoEspecifico %}
            <td><a href="/proyecto/{{Proyecto.id}}/tipoArtefacto/eliminarTipoArtefacto/{{Tipos.id}}/" class="edit">eliminar</a></td>
        {% endif %}    
      </li>
    {% endfor %}
    </ul>
  <br>
  {% if CrearTipoArtefactoEspecifico %}
      <input type="button" value="Nuevo Tipo de Artefacto" onClick = "location.href='/proyecto/{{Proyecto.id}}/tipoArtefacto/crearTipoArtefacto/' "/>
  {% endif %}
  <input type="button" value="Atras" onClick = "location.href='/proyectos/{{Proyecto.id}}/' "/>
{% endblock %}  