{% extends "base.html" %}
{% block title %}Archivos{% endblock %}
{% block head %}Adjuntar Archivos{% endblock %}
{% block content %}

<p>Adjuntar archivo para el artefacto:</p>
<p><strong> ID: ({{ artefacto.id }})</strong> {{ artefacto.Tipo_Artefacto }}</p>
<form enctype="multipart/form-data" method="post" action="">
    <p>{{ form.archivo.errors }}<label>Adjuntar:</label>{{ form.archivo }}</p>

<input type="submit" value="Guardar" />

{% ifequal Fase 'E' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
{% endifequal %}

{% ifequal Fase 'D' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
{% endifequal %}

{% ifequal Fase 'I' %}
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
{% endifequal %}

{% if archivos %}
    <p>Archivos adjuntos a este artefacto de {{artefacto.Tipo_Artefacto}}</p>
    <ul>
    {% for archivo in archivos %}
        <li><strong>{{ archivo.Nom_Archivo }}</strong>
        <a href="/proyecto/{{ proyecto.id }}/fase/{{artefacto.id}}/obtener_adjunto/{{archivo.id}}/ "> Editar</a>
        <a href="/proyecto/{{ proyecto.id }}/fase/{{Fase}}/{{artefacto.id}}/eliminar_adjunto/{{archivo.id}}/ "> Eliminar</a>
        </li>
    {% endfor %}
    </ul>
    <p>La opci&oacute;n editar le permite descargar el archivo guardado para insertar modificaciones. Una vez actualizado el archivo, 
    vuelva a adjuntarlo con el mismo nombre.</p>
{% else %}
<p>A&uacute;n no se han adjuntado archivos al artefacto ({{ artefacto.id }}) de {{ artefacto.Tipo_Artefacto }}</p>
{% endif %}
</form> 
{% endblock %}
