{% extends "base.html" %}
{% block title %}Impacto{% endblock %}
{% block head %}Calculo Impacto de {{ artefacto.Nombre}}<br>{% endblock %}
{% block content %}

	<dl>
	    <li><strong>  Complejidad del Artefacto {{ artefacto.Nombre }}</strong>  : {{ artefacto.Complejidad }} </li>
		<li> <strong>Calculo Impacto hacia la izquierda:</strong> {{izquierda }}
			{% if padres %}
				<li>ANCESTROS:</li>
                <ul>
                   
				{% for padre in padres %}
					{% ifequal padre.Tipo_Artefacto.Fase 'E' %}
                    <li>Complejidad de {{padre.Nombre}} (Especificacion de Requerimientos):{{padre.Complejidad}}</li>
				    {% endifequal %}
				 {% ifequal padre.Tipo_Artefacto.Fase 'D' %}
                    <li>Complejidad de {{padre.Nombre}} (Disenho):{{padre.Complejidad}}</li>
				    {% endifequal %}
                {% ifequal padre.Tipo_Artefacto.Fase 'I' %}
                    <li>Complejidad de {{padre.Nombre}} (Implementacion):{{padre.Complejidad}}</li>
				    {% endifequal %}
				{% endfor %}
               SubTotal:  {{ CalculoPadres }}
				</ul>
			{% endif %}
            {% if antesesores %}
				<li>ANTESESORES:</li>
                <ul>
                 {% for ante in antesesores %}
					{% ifequal ante.Tipo_Artefacto.Fase 'E' %}
                    <li>Complejidad de {{ante.Nombre}} (Especificacion de Requerimientos):{{ante.Complejidad}}</li>
				    {% endifequal %}
				 {% ifequal ante.Tipo_Artefacto.Fase 'D' %}
                    <li>Complejidad de {{ante.Nombre}} (Disenho):{{ante.Complejidad}}</li>
				    {% endifequal %}
                {% ifequal ante.Tipo_Artefacto.Fase 'I' %}
                    <li>Complejidad de {{ante.Nombre}} (Implementacion):{{ante.Complejidad}}</li>
				    {% endifequal %}

				{% endfor %}
               SubTotal:  {{ CalculoAntecesores }}
				</ul>
			{% endif %}
		</li>
            
		<li> <strong> Calculo Impacto hacia la derecha:</strong> {{derecha }}
			{% if hijos %}
                <li>Descendientes:</li>
				<ul>
				{% for hijo in hijos %}
                    {% ifequal hijo.Tipo_Artefacto.Fase 'E' %}
                    <li>Complejidad de {{hijo.Nombre}} (Especificacion de Requerimientos):{{hijo.Complejidad}}</li>
				    {% endifequal %}
				 {% ifequal hijo.Tipo_Artefacto.Fase 'D' %}
                    <li>Complejidad de {{hijo.Nombre}} (Disenho):{{hijo.Complejidad}}</li>
				    {% endifequal %}
                {% ifequal hijo.Tipo_Artefacto.Fase 'I' %}
                    <li>Complejidad de {{hijo.Nombre}} (Implementacion):{{hijo.Complejidad}}</li>
				    {% endifequal %}
				{% endfor %}
                SubTotal:  {{ CalculoHijos }}
				</ul>
             
			{% endif %}
            {% if sucesores %}
				<li>SUCESORES:</li>
                <ul>
                   
				{% for anteS in sucesores %}
				 {% ifequal anteS.Tipo_Artefacto.Fase 'E' %}
                    <li>Complejidad de {{anteS.Nombre}} (Especificacion de Requerimientos):{{anteS.Complejidad}}</li>
				    {% endifequal %}
				 {% ifequal anteS.Tipo_Artefacto.Fase 'D' %}
                    <li>Complejidad de {{anteS.Nombre}} (Disenho):{{anteS.Complejidad}}</li>
				    {% endifequal %}
                {% ifequal anteS.Tipo_Artefacto.Fase 'I' %}
                    <li>Complejidad de {{anteS.Nombre}} (Implementacion):{{anteS.Complejidad}}</li>
				    {% endifequal %}
				{% endfor %}
               SubTotal:  {{ CalculoSucesores }}
				</ul>
			{% endif %}
		</li>
		<li> <strong>CALCULO IMPACTO TOTAL: {{CalculoImpacto}} </strong></li>
	</dl>

	{% ifequal Fase 'E' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
	{% endifequal %}
	{% ifequal Fase 'D' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
	{% endifequal %}
	{% ifequal Fase 'I' %}
		<input type="button" value="Volver" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
	{% endifequal %}
{% endblock %}
