{% extends "base.html" %}
{% block title %}Artefactos{% endblock %}
{% block head %}Crear Artefacto<br>{% endblock %}
{% block content %}

<form method="post" action=""> 
	<table>
    {{form.as_p}}
	</table>
<input type="submit" value="Guardar" />
{% ifequal fase 'E' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto}}/requerimientos/' "/>
{% endifequal %}

{% ifequal fase 'D' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto}}/diseno/' "/>
{% endifequal %}

{% ifequal fase 'I' %}
	<input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto}}/implementacion/' "/>
{% endifequal %}

</form>
{% endblock%}
