{% extends "base.html" %}
{% block title %}Modificaci&oacute;n de Tipo de Artefactos{% endblock %}
{% block head %}Editar Tipo de Artefacto {% endblock %}
{% block content %}
<form method="post" action=""> 
<p><strong>Nombre:</strong> {{ tipo_artefacto.Nombre }}</p>
<p><strong>Codigo:</strong> {{ tipo_artefacto.Codigo }}</p>
	<table>
    {{form.as_p}}
	</table>
<input type="submit" value="Guardar" />
<input type="button" value="Cancelar" onClick = "location.href='/administracion/tipo_artefacto/' "/>
</form>
{% endblock %}
