{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Eliminar Relacion de {{ artefactoH.Nombre }}{% endblock %}
{% block content %}

	<p>Est&aacute; seguro que desea eliminar esta relaci&oacute;n con "{{ artefactoH.Nombre }}"?</p>
	<form method="post" action=""> 
		<input type="submit" value="Eliminar" />
		<input type="button" value="Cancelar" onClick = "location.href='/proyectos/{{ proyecto.id }}/fase/artefactos/relaciones/{{ artefacto.id}}/' "/>
	</form>
                                                                                     
{% endblock %}
