{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Implementacion<br>{% endblock %}
{% block content %}
    <ul>
    {% for artefacto in artefactos %}
      <li>
	  <strong>{{ artefacto.Nombre }}: </strong>{{ artefacto.Tipo_Artefacto.Fase }}
      {% if Paso %}
        	  {% if Modificar %}
        	  <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/editar/{{artefacto.id}}/" class="edit">editar</a>
              <a href="/proyectos/{{proyecto.id}}/fase/artefactos/relaciones/{{ artefacto.id|urlencode }}" class="edit">Relaciones</a>
              <a href="/proyecto/{{proyecto.id}}/impacto/{{artefacto.id}}/" class="edit">Impacto</a>
              {% ifnotequal artefacto.Estado 'A' %}
              	<a href="/proyectos/{{proyecto.id}}/fase/artefactos/aprobar/{{artefacto.id}}/{{Fase}}/" class="edit">Aprobar</a>
        	  {% endifnotequal %}
        	 {% endif %}
        	 {% if Eliminar%}
        		<a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/eliminar/{{artefacto.id}}/" class="edit">eliminar</a>
        	 {% endif %}
             </li>
    {% endif %}
    {% endfor %}
    </ul>
    {% if Paso %}
        {% if Crear %}
       		<input type="button" value="Nuevo Artefacto" onClick = "location.href='/proyecto/{{proyecto.id}}/fase/{{Fase}}/nuevo/' "/>
        {% endif %}
    {% endif %}
    <input type="button" value="Atras" onClick = "location.href='/proyectos/{{proyecto.id}}/' "/>
{% endblock %}
