{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Implementacion<br>{% endblock %}
{% block content %}
    <ul>
    {% for artefacto in artefactos %}
      <li>
	  <strong>{{ artefacto.Nombre }}: </strong>
      
        
             
      {% if Paso %}
            
              <a href="/proyecto/{{proyecto.id}}/verInfo/{{artefacto.id}}/" class="edit">Ver Artefacto</a>          
              <a href="/proyecto/{{proyecto.id}}/impacto/{{artefacto.id}}/" class="edit">Impacto</a>                    
        	  {% if EditarArtefactoImp %}
              <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/historiales/{{artefacto.id}}/" class="edit">Historial</a>
        	  <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/editar/{{artefacto.id}}/" class="edit">Editar</a>

              <a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/listar_adjunto/{{artefacto.id}}/" class="edit">Archivos<a/>
              <a href="/proyectos/{{proyecto.id}}/fase/artefactos/relaciones/{{ artefacto.id|urlencode }}" class="edit">Relaciones</a>      
              {% endif %}
              {% if AprobarArtefacto %}
              {% ifnotequal artefacto.Estado 'A' %}
              	<a href="/proyectos/{{proyecto.id}}/fase/artefactos/aprobar/{{artefacto.id}}/{{Fase}}/" class="edit">Aprobar</a>
        	  {% endifnotequal %}
        	 {% endif %}
        	 {% if EliminarArtefactoImp%}
        		<a href="/proyecto/{{proyecto.id}}/fase/{{Fase}}/eliminar/{{artefacto.id}}/" class="edit">Eliminar</a>
        	 {% endif %}
             </li>
    {% else %}
              <a href="/proyecto/{{proyecto.id}}/verInfo/{{artefacto.id}}/" class="edit">Ver Artefacto</a>
              <a href="/proyecto/{{proyecto.id}}/impacto/{{artefacto.id}}/" class="edit">Impacto</a>           
   {% endif %}
    {% endfor %}
    </ul>
    {% if Paso %}
        
        {% if CrearArtefactoImp %}
       		<input type="button" value="Nuevo Artefacto" onClick = "location.href='/proyecto/{{proyecto.id}}/fase/{{Fase}}/nuevo/' "/>
        {% endif %}
    {% endif %}
    <input type="button" value="Atras" onClick = "location.href='/proyectos/{{proyecto.id}}/' "/>
{% endblock %}
