{% extends "base.html" %}
{% block title %}Historial{% endblock %}
{% block head %}Lista de registros de historial del artefacto {{ artefacto.Nombre }}{% endblock %}
{% block content %}


{% if historial %}
    <hr>
        <ol>
        {% for h in historial %}
        <li>
            <strong>versi&oacute;n: {{ h.Version }} </strong>
            <a href="/proyecto/{{ proyecto.id }}/fase/{{Fase}}/detalles_version/{{artefacto.id}}/{{h.Version}}/" class="edit">VER</a>
           
        </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Este artefacto todav&iacute;a no ha sido modificado</p>
    {% endif %}

    <input type="button" value="Crear Reporte" onClick = "location.href='/reporte/artefacto/{{artefacto.id}}/historial/' "/>

{% ifequal Fase 'E' %}
	<input type="button" value="Atras" onClick = "location.href='/proyecto/{{proyecto.id}}/requerimientos/' "/>
{% endifequal %}

{% ifequal Fase 'D' %}
	<input type="button" value="Atras" onClick = "location.href='/proyecto/{{proyecto.id}}/diseno/' "/>
{% endifequal %}

{% ifequal Fase 'I' %}
	<input type="button" value="Atras" onClick = "location.href='/proyecto/{{proyecto.id}}/implementacion/' "/>
{% endifequal %}

{% endblock %}

