{% extends "base.html" %}
{% block title %}Eliminaci&oacute;n de Tipo de Artefactos{% endblock %}
{% block head %}Eliminar Tipo de Artefacto {{ tipo_artefacto.Nombre }}{% endblock %}
{% block content %}
{% if eliminar %}
    <p>No puede eliminar este Tipo de Artefacto porque esta siendo utilizado por un Artefacto</p>
    <input type="button" value="Aceptar" onClick = "location.href='/proyecto/{{proyecto}}/tipoArtefacto/' "/>
{% else %}
    <p>Esta seguro que desea eliminar el tipo de artefacto <strong>{{ tipo_artefacto.Nombre }}</strong>?</p>
    <p><strong>{{ tipo_artefacto.Nombre }}:</strong> {{ tipo_artefacto.Fase }}</p>
    <form method="post" action=""> 
    <input type="submit" value="eliminar" />
    <input type="button" value="Cancelar" onClick = "location.href='/proyecto/{{proyecto}}/tipoArtefacto/' "/>
    </form>
{% endif %} 
{% endblock %}
