{% extends "base.html" %}
{% block title %}Proyecto{% endblock %}
{% block head %}Proyecto {{proyecto.Nombre}}<br>{% endblock %}
{% block content %}
	        <h2>Desarrolar mi proyecto</h2>
    <br>
<div class="buttons">
    <ul>
      {% if Requerimientos %}
	    <li><a href="/proyecto/{{proyecto.id}}/requerimientos/">
		Especificacion de Requerimientos
	    </a></li>
	  {% endif %}
        <br>
        <br>
      {% if Diseno%}
        <li><a href="/proyecto/{{proyecto.id}}/diseno/">
		Analisis y Diseno
	    </a></li>
	  {% endif %}
        <br><br>
      {% if Implementacion%}
        <li><a href="/proyecto/{{proyecto.id}}/implementacion/">
		Implementacion
	    </a></li>
	  {% endif %}
    </ul>
</div>
    <br><br>
            <h2>Configuraciones</h2>
    <br>

<div class="buttons">
    <ul>
      {% if GenerarLineaBase %}
        <li><a href="/proyecto/{{proyecto.id}}/lineaBase/">
		Generar Linea Base
	    </a></li>
	  {% endif %}
        <br>
      {% if EditarProyecto%}
	    <li><a href="/proyectos/{{proyecto.id}}/editar/">
		Editar
	    </a></li>
	  {% endif %}
        <br>
      {% if AgregarMiembro%}
        <li><a href="/proyecto/{{proyecto.id}}/usuarios_miembros/">
		Miembros del Proyecto
	    </a></li>
	  {% endif %}
        
    </ul>
</div>
    <ul>
<br>  
<br>
<div class="buttons">
	    <a href="/">
		Atras
	    </a>
</div>

{% endblock %}

